<h4 class="p-3 mb-2 bg-info text-white">User List</h4>

<table class="table table-hover table table-bordered">
    <thead class="bg-secondary text-white">
        <th style="display: none;">id</th>
        <th > First Name</th>
        <th> Last Name</th>
        <th> Email</th>
        <th> Phone No</th>
        <th >Country</th>
        <th> City</th>
        <th> State</th>
        <th> Date of Birth</th>
        <th>Password</th>
        <th> Actions </th>
    </thead>
    <tbody>
        <tr *ngFor="let arr of users" >
            <td style="display: none;">{{arr.id}}</td>
            <td class="bg-light">{{arr.firstName}}</td>
            <td class="bg-light">{{arr.lastName}}</td>
            <td class="bg-light">{{arr.emailId}}</td>

            <td class="bg-light">{{arr.phoneNo}}</td>
            <td class="bg-light">{{arr.address.country}}</td>
            <td class="bg-light">{{arr.address.city}}</td>
            <td class="bg-light">{{arr.address.state}}</td>

           
            <td class="bg-light">{{arr.dob}}</td>
            <td class="bg-light">{{arr.password}}</td>
           

        
            <td class="table-dark">
                <button (click) = "updateEmployee(arr.id)" class="btn btn-info">Update</button><br>
                <button (click) = "deleteEmployee(arr.id)" class="btn btn-danger">Delete</button>
              
            </td>
           
               
           
        </tr>
    </tbody>
</table>
